<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Group</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="groupKeywords" data-ng-submit="submit(groupKeywords)" novalidate="novalidate" class="form-horizontal">
            <div class="error-box"></div>
            <div class="controls col-md-3 col-md-offset-1">
                <input name="groupName" type="text" placeholder="Group name" data-ng-model="activeGroup.name" required="true" class="form-control"/>
            </div>
            <div class="controls col-md-3 col-md-offset-1">
                <input name="groupId" type="text" placeholder="Group id" data-ng-model="activeGroup.id" required="true" class="form-control"/>
            </div>
            <div class="controls col-md-3 col-md-offset-1">
                <input name="keyWord" type="text" placeholder="Keyword" data-ng-model="activeGroup.keywords" required="true" class="form-control"/>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submitChanges()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>