<img class="social-logo" tooltip="Show groups list" src="/images/fbLogo.png" height="50px" ng-click="isVisible = !isVisible">
<div class="header-section">
    <button class="btn waves-effect waves-light" ng-click="addNewGroup('fb')">Додати групу</button>
    <button class="btn waves-effect waves-light" ng-click="setNetworkKeywords('fb', networkKeywords)">Змінити ключові слова</button>
    <button class="btn waves-effect waves-light" ng-class="{'red': state === 'running'}"  ng-click="startCrawler($event)">{{crawlerText}}</button>
</div>
<div ng-show="isVisible" class="fader social-body">
    <div class="groups-section">
        <div class="collection">
            <div class="collection-item group" ng-repeat="group in groups" ng-show="group.name">
                <span class="badge new" ng-show="isActive($index)">{{filtered.length}}</span>
                {{group.name}}
                <div class="actions-bar">
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeGroup(group, 'fb'); $event.stopPropagation(); $event.preventDefault()"></span>
                    <span class="glyphicon glyphicon-edit pull-right" ng-click="editGroup(group, 'fb'); $event.stopPropagation(); $event.preventDefault()"></span>
                </div>
            </div>
            <h3 ng-show="!groups.length">Немає активних груп</h3>
        </div>
    </div>
    <div class="feed-section collection">
        <div class="spinner" ng-show="loading">
            <h2>
                Збір даних...
            </h2>
        </div>
        <h5 ng-show="filtered.length">Результат запиту:</h5>
        <div class="feed collection-item" ng-repeat="feed in filtered = (facebookFeeds | keyWordFilter:allKeywords)">
            <div class="feed-container" ng-show="facebookFeeds[$index].showFullText">
                {{feed.from.name}}:
                <span ng-bind-html="highlight(feed.message, allKeywords)"></span>
                <img ng-src="{{feed.type === 'photo' ? feed.picture : ''}}" ng-show="!!feed.picture">
                <div>
                    <a ng-click="openFbPage(feed.actions[0].link || feed.link)">Прочитати на Facebook</a>
                </div>
                <div class="comments-section" ng-show="!!feed.comments">
                    <div class="actionBox" ng-repeat="comment in feed.comments.data">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="/images/userImage.png">
                                </div>
                                <div class="commentText">
                                    <p class="">
                                        <span ng-bind-html="highlight(comment.message, allKeywords)"></span>
                                    </p>
                                    <span class="date sub-text" ng-bind-html="formatDate(comment.created_time)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-crop">
                <div>
                    <div ng-show="!facebookFeeds[$index].showFullText">
                        <span>{{feed.from.name}}:</span>
                        <span ng-bind-html="cropText(feed.message, 50)"></span><br/>
                        <a ng-click="openFbPage(feed.actions[0].link || feed.link)">Прочитати на Facebook</a>
                    </div>
                </div>
                <a ng-click="showMore(facebookFeeds[$index], $event)">Показати більше...</a>
            </div>
        </div>
    </div>
</div>