<img class="social-logo" tooltip="Show groups list" src="/images/fbLogo.png" height="50px" ng-click="isVisible = !isVisible">
<div class="header-section">
    <button class="btn waves-effect waves-light" ng-click="addNewGroup('fb')">Додати групу</button>
    <button class="btn waves-effect waves-light" ng-click="setNetworkKeywords('fb')">Змінити ключові слова</button>
    <button class="btn waves-effect waves-light" ng-class="{'red': state === 'running'}"  ng-click="startCrawler($event)">{{crawlerText}}</button>
</div>
<div ng-show="isVisible" class="fader social-body">
    <div class="groups-section">
        <div class="collection">
            <div class="collection-item group" ng-repeat="group in groups" ng-show="group.name">
                <span class="badge new" ng-show="isActive($index)">{{facebookFeeds.length}}</span>
                {{group.name}}
                <div class="actions-bar">
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeGroup(group, 'fb'); $event.stopPropagation(); $event.preventDefault()"></span>
                    <span class="glyphicon glyphicon-edit pull-right" ng-click="editGroup(group, 'fb'); $event.stopPropagation(); $event.preventDefault()"></span>
                </div>
            </div>
            <h3 ng-show="!groups.length">Немає активних груп</h3>
        </div>
    </div>
</div>