<div class="container">
    <form name="loginForm" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputLogin" class="sr-only">Email address</label>
        <input type="text" ng-model="user.login" id="inputLogin" class="form-control" placeholder="Login" pattern="^[a-zA-Z0-9]+" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    </form>

</div>