<div class="product-page">
	<div class="dropdown" ng-show="showNavigation">
		<button id="dLabel" class="btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{selectedItem}}
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li ng-repeat="nav in navSections"><a href="" ng-click="navClickHandler($index)">{{nav}}</a></li>
		</ul>
	</div>
	<table class="table table-striped">
		<tbody class="">
			<tr>
				<td>Найменування</td>
				<td>Одиниця</td>
				<td>Стандарт</td>
				<td>Марка</td>
				<td>Радіус</td>
				<td>Вага</td>
			</tr>
			<tr ng-repeat="element in elements">
				<td>{{element.name}}</td>
				<td>{{element.type}}</td>
				<td>{{element.standard}}</td>
				<td>{{element.mark}}</td>
				<td>{{element.radius}}</td>
				<td>{{element.weight}}</td>
			</tr>
		</tbody>
	</table>
</div>