<div class="container">
    <div class="card">
        <div class="card-content">
            <form role="form" name="user-info" data-ng-submit="submit(user-info)" novalidate="novalidate" class="form-horizontal">
                <div class="controls col-md-6">
                    <div class="input-field">
                        <label ng-class="{'active': user.name}" for="username">Ім'я</label>
                        <input id="username" ng-model="user.name" type="text">
                    </div>
                    <div class="input-field">
                        <label ng-class="{'active': user.email}" for="email">Email</label>
                        <input id="email" ng-model="user.email" type="email">
                    </div>
                    <div class="input-field">
                        <label ng-class="{'active': user.keywords.vk}" for="vkKeywords">Ключові слова для ВК</label>
                        <input id="vkKeywords" ng-model="user.keywords.vk" type="text">
                    </div>
                    <div class="input-field">
                        <label ng-class="{'active': user.keywords.fb}" for="fbKeywords">Ключові слова для FB</label>
                        <input id="fbKeywords" ng-model="user.keywords.fb" type="text">
                    </div>
                    <p>
                        <input id="receiveMails" ng-model="user.receiveMails" type="checkbox">
                        <label for="receiveMails">Присилати мені email-сповіщення</label>
                    <p>
                    <button class="btn" ng-click="submitChanges()">Зберегти</button>
                </div>
                <div class="col-md-6">
                    <h5>Список користувачів:</h5>
                    <table>
                        <thead>
                        <tr>
                            <th data-field="id">Ім'я</th>
                            <th data-field="name">Email</th>
                            <th data-field="price">Дія</th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td><i class="glyphicon glyphicon-remove center-block text-center" ng-click="removeUser(user, $index)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="card-action">
            <a class="pull-right" ng-click="addUser()">Додати користувача</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>