<div class="network-feed-section text-center">
    <h4>Vkontakte</h4>
    <div class="keywords teal lighten-1" ng-repeat="kw in vkKeywords">
        {{kw}}
    </div>
    <div class="clearfix"></div>
    <div class="collection text-left">
        <div ng-repeat="instance in vkPostsArray" class="collection-item">
            <h5>{{instance.group.name}}</h5>
            <div class="feed-container" ng-show="instance.post.showFullText">
                {{instance.post.from.name}}:
                <span ng-bind-html="highlight(instance.post.text, vkKeywords)"></span>
                <img ng-src="{{instance.post.type === 'photo' ? instance.post.picture : ''}}" ng-show="!!instance.post.picture">
                <div>
                    <a ng-click="openVKPage(instance.post.to_id, instance.post.id)">Прочитати на Vkontakte</a>
                </div>
                <div class="comments-section" ng-show="!!instance.post.comments.data">
                    <div class="actionBox" ng-repeat="comment in instance.post.comments.data">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="/images/userImage.png">
                                </div>
                                <div class="commentText">
                                    <p class="">
                                        <span ng-bind-html="highlight(comment.text, vkKeywords)"></span>
                                    </p>
                                    <span class="date sub-text" ng-bind-html="formatDate(comment.date * 1000)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-crop">
                <div>
                    <div ng-show="!instance.post.showFullText">
                        <span>{{instance.post.from.name}}:</span>
                        <span ng-bind-html="cropText(instance.post.text, 50)"></span><br/>
                        <a ng-click="openVKPage(instance.post.to_id, instance.post.id)">Прочитати на Vkontakte</a>
                    </div>
                </div>
                <a ng-click="showMore(instance.post, $event)">Показати більше...</a>
            </div>
        </div>
    </div>
    <hr/>
</div>