<div class="network-feed-section text-center">
    <h4>Vkontakte</h4>
    <div class="keywords teal lighten-1" ng-repeat="kw in vkKeywords">
        {{kw}}
    </div>
    <div class="clearfix"></div>
    <div class="collection text-left">
        <div ng-repeat="instance in vkPostsArray" class="collection-item">
            <h6>{{instance.group.name}}</h6>
            <div class="feed-container" ng-show="instance.post.showFullText">
                <span ng-bind-html="highlight(instance.post.text, vkKeywords)"></span>
                <img ng-src="{{instance.post.type === 'photo' ? instance.post.picture : ''}}" ng-show="!!instance.post.picture">
                <div>
                    <a ng-click="openVKPage(instance.post.to_id, instance.post.id)">Прочитати на Vkontakte</a>
                </div>
                <div class="comments-section" ng-show="!!instance.post.comments.data">
                    <div class="actionBox" ng-repeat="comment in instance.post.comments.data">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="/images/userImage.png">
                                </div>
                                <div class="commentText">
                                    <p class="">
                                        <span ng-bind-html="highlight(comment.text, vkKeywords)"></span>
                                    </p>
                                    <span class="date sub-text" ng-bind-html="formatDate(comment.date * 1000)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-crop" tooltip="{{instance.post.text ? '' : 'Post without message, please see the post\'s original'}}">
                <div>
                    <div ng-show="!instance.post.showFullText">
                        <span ng-bind-html="cropText(instance.post.text, 50)"></span><br/>
                        <a ng-click="openVKPage(instance.post.to_id, instance.post.id)">Прочитати на Vkontakte</a>
                    </div>
                </div>
                <a ng-click="showMore(instance.post, $event)">Показати більше...</a>
            </div>
            <h6 class="text-right">Знайдено ключових слів: {{instance.post.found}}</h6>
        </div>
    </div>
    <a ng-show="vkPageNum > 1" ng-click="paginate('vk', false)"> <h4><</h4> </a>
    <a ng-show="vkPostsArray.length && vkPageNum * 5 < vkRespArray.length" ng-click="paginate('vk', true)"> <h4>></h4> </a>
    <hr/>
</div>