<img class="social-logo" tooltip="Show groups list" src="/images/vkLogo.jpg" height="50px" ng-click="isVisible = !isVisible">
<div class="header-section inline-block">
    <button class="btn waves-effect waves-light" ng-click="addNewGroup('vk')">Додати групу</button>
    <button class="btn waves-effect waves-light" ng-click="setNetworkKeywords('vk', vkKeywords)">Змінити ключові слова</button>
    <button class="btn waves-effect waves-light" ng-class="{'red': state === 'running'}"  ng-click="startCrawler($event)">{{crawlerText}}</button>
</div>
<div ng-show="isVisible" class="fader social-body">
    <div class="groups-section">
        <div class="collection">
            <div class="collection-item group" ng-repeat="group in groups">
                <span class="badge new" ng-show="isActive($index)">{{vkFeeds.length}}</span>
                {{group.name}}
                <div class="actions-bar">
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="removeGroup(group, 'vk'); $event.stopPropagation(); $event.preventDefault()"></span>
                    <span class="glyphicon glyphicon-edit pull-right" ng-click="editGroup(group, 'vk'); $event.stopPropagation(); $event.preventDefault()"></span>
                </div>
            </div>
            <h3 ng-show="!groups.length">Немає активних груп</h3>
        </div>
    </div>
    <div class="feed-section collection">
        <div class="spinner" ng-show="loading">
            <h2>
                Збір даних...
            </h2>
        </div>
        <h5 ng-show="vkFeeds.length">Результати запиту:</h5>
        <div class="feed collection-item" ng-repeat="feed in vkFeeds">
            <div class="feed-container" ng-show="vkFeeds[$index].showFullText">
                <span ng-bind-html="highlight(feed.text, allKeywords)"></span>
                <div class="comments-section" ng-show="!!feed.comments">
                    <div class="actionBox" ng-repeat="comment in feed.comments">
                        <ul class="commentList">
                            <li>
                                <div class="commenterImage">
                                    <img src="/images/userImage.png">
                                </div>
                                <div class="commentText">
                                    <p class="">
                                        <span ng-bind-html="highlight(comment.text, allKeywords)"></span>
                                    </p>
                                    <span class="date sub-text" ng-bind-html="formatDate(comment.date * 1000)"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post-crop">
                <div ng-show="!vkFeeds[$index].showFullText">
                    <span ng-bind-html="cropText(feed.text, 50)" ng-show="!vkFeeds[$index].showFullText"></span><br/>
                    <a ng-click="openVKPage(feed.to_id, feed.id)">Прочитати на VK</a>
                </div>
                <a ng-click="showMore(vkFeeds[$index], $event)">Показати більше...</a>
            </div>
        </div>
    </div>
</div>