<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Monitoring</title>
    <script src="//connect.facebook.net/en_US/sdk.js">
    </script>
    <script>
        FB.init({
            appId      : '808363195905708',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.1' // use version 2.1
        });
    </script>
    <script src="../javascripts/facebookAPI.js"></script>
    <script src="../src/angular/angular.js"></script>
    <script src="../javascripts/ui-bootstrap.js"></script>
    <script src="../javascripts/ui-bootstrap-tpls.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/controllers/main.js"></script>
    <script src="../javascripts/controllers/keyWordsController.js"></script>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/main.css">

</head>
<body ng-app="SocialApp" ng-controller="socialController">
    <div class="login-container">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
    </div>
    <div class="header-section">
        <button ng-click="editKeyWords()">Set keywords</button>
        <div>Filter: <input id="keyWordFilter" type="text" ng-model="keyWordFilter"/></div>
    </div>
    <div class="container">
        <div class="col-md-6 section">
            <h1 class="text-center">Facebook section</h1>
            <br/>
            <div class="groups-section" ng-repeat="group in groups">
                <ul>
                    <li>
                        <a ng-click="showGroupPosts($index)">{{group.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="feed-section">
                <h2 class="text-center" ng-show="emptyMessage">There are no feeds to display</h2>
                <div class="feed" tooltip="View on facebook" ng-repeat="feed in facebookFeeds | keyWordFilter:keyword" ng-click="openFbPage(feed.id)">
                    {{feed.from.name}}:
                    <span ng-bind-html="highlight(feed.message, keyword)"></span>
                    <img src="{{feed.type === 'photo' ? feed.picture : ''}}" ng-show="!!feed.picture">
                    <div class="comments-section" ng-show="!!feed.comments">
                        <h3>Comments</h3>
                        <ul>
                            <li class="comment" ng-repeat="comment in feed.comments.data">
                                {{comment.from.name}} :  <span ng-bind-html="highlight(comment.message, keyword)"></span>
                                <hr>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 section">
            <h1 class="text-center">VK section</h1>
            {{name}}
        </div>
    </div>
</body>
</html>