<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Monitoring</title>
    <script src="//connect.facebook.net/en_US/sdk.js">
    </script>
    <script>
        FB.init({
            appId      : '808363195905708',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.1' // use version 2.1
        });
    </script>
    <script src="../javascripts/facebookAPI.js"></script>
    <script src="../src/angular/angular.js"></script>
    <script src="../javascripts/ui-bootstrap.js"></script>
    <script src="../javascripts/ui-bootstrap-tpls.js"></script>
    <script src="../javascripts/app.js"></script>
    <script src="../javascripts/controllers/main.js"></script>
    <script src="../javascripts/controllers/keyWordsController.js"></script>
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/main.css">

</head>
<body ng-app="SocialApp" ng-controller="socialController">
    <div class="header-section">
        <button class="btn btn-primary" ng-click="editKeyWords()">Set keywords</button>
    </div>
    <div class="container">
        <div class="col-md-6 section">
            <h1 class="text-center">Facebook section</h1>
            <br/>
            <div class="groups-section">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="group in groups" ng-class="{ active: isActive($index) }" ng-click="showGroupPosts($index)"><span class="badge">{{filtered.length}}</span>{{group.name}}</a>
                </div>
            </div>
            <div class="feed-section list-group">
                <div class="feed list-group-item" ng-repeat="feed in filtered = (facebookFeeds | keyWordFilter:keyword)">
                    {{feed.from.name}}:
                    <span ng-bind-html="highlight(feed.message, keyword)"></span>
                    <img src="{{feed.type === 'photo' ? feed.picture : ''}}" ng-show="!!feed.picture">
                    <div class="comments-section" ng-show="!!feed.comments">
                       <!-- <h3>Comments</h3>
                        <ul>
                            <li class="comment" ng-repeat="comment in feed.comments.data">
                                {{comment.from.name}} :  <span ng-bind-html="highlight(comment.message, keyword)"></span>
                                <hr>
                            </li>
                        </ul>-->
                        <div class="actionBox" ng-repeat="comment in feed.comments.data">
                            <ul class="commentList">
                                <li>
                                    <div class="commenterImage">
                                        <img src="../images/userImage.png">
                                    </div>
                                    <div class="commentText">
                                        <p class="">
                                            <span ng-bind-html="highlight(comment.message, keyword)"></span>
                                        </p>
                                        <span class="date sub-text" ng-bind-html="formatDate(comment.created_time)"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a ng-click="openFbPage(feed.id)">Read on Facebook</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 section">
            <h1 class="text-center">VK section</h1>
            {{name}}
        </div>
    </div>
</body>
</html>