body {
    padding: 10px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

a {
    cursor: pointer;
}

.header-section * {
    margin: 10px;
}

.feed {
    padding: 10px;
    margin: 10px 0;
}

.comments-section {
    margin-top: 10px;
}

.feed-container {
    word-break: break-word;
}

.modal.fade {
    background: rgba(0, 0, 0, 0.6);
}

.highlightedText {
    background: yellow;
}

.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
    margin: 10px 0 0;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}
.social-logo {
    border-radius: 8px;
}

.modal-body .group {
    margin: 10px 0;
}
.spinner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 96%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    padding: 40%;
    color: #FFF;
    border-radius: 8px;
}

.modal-dialog {
    width: 800px;
}

span.glyphicon {
    margin: 0 5px;
}

.actions-bar {
    display: none;
}

.list-group-item:hover .actions-bar {
    display: inline;
    opacity: 0.7;
}