body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
}

a {
    cursor: pointer;
}

hr {
    border-top: 1px dotted #BAB7B7;
}

input[type="date"] {
    margin: 10px 0;
}

input[type="number"] {
    padding: 0 5px;
}

.header-section {
    display: inline-block;
    width: 80%;
}

.header-section * {
    margin: 10px 0;
}

.social-body {
    margin-top: 10px;
}

.feed {
    padding: 10px;
    margin: 10px 0;
}

.comments-section {
    margin-top: 10px;
}

.feed-container {
    word-break: break-word;
}

.modal.fade {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    max-height: 100%;
}

.highlightedText {
    background: yellow;
}

.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
    margin: 10px 0 0;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}
.social-logo {
    display: block;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
}

.modal-body .group {
    margin: 10px 0;
}
.spinner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 96%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    padding: 40%;
    color: #FFF;
    border-radius: 8px;
}

span.glyphicon {
    margin: 0 5px;
}

.actions-bar {
    display: none;
}

.collection-item.group:hover .actions-bar {
    display: inline;
    opacity: 0.7;
}

.ng-touched.ng-invalid {
    border-color: #F47777;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin #inputLogin {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.network-dropdown {
    margin-bottom: 20px;
}

.err-msg {
  padding: 5px 5px 0px;
  color: #A94442;
  font-size: 12px;
}

tags-input .tags .tag-item {
    color: #FFF;
}
.fader.ng-hide-add,
.fader.ng-hide-remove {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;

  /* remember to add this */
  display: block!important;
  opacity: 1;
}
.fader.ng-hide {
  opacity: 0;
}

.card-content .collection-item, .feed-section .collection-item {
    background: #F5F5F5;
}
.card-content .social-logo {
    display: block;
    margin-right: auto;
    cursor: default;
}

.keywords {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background: #5cb85c;
    border-radius: 3px;
    color: #FFF;
}
.card a {
    color: #26a69a;
}
.card a:hover {
    color: #228178;
}

@media (min-width: 768px) and (max-width: 1456px) {
    .header-section button {
        display: block;
        width: 100%;
    }
    .social-logo {
        display: inline-block;
        top: -50px;
        position: relative;
    }
    .card .social-logo {
        top: 0;
    }
}